*{
  margin: 0;
  padding: 0;
}
.container{
  background: linear-gradient(to right bottom, #ae865e, #e2969f);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-wrapper{
  /* background-color: #14022e; */
  background: linear-gradient(to right bottom, #3c3b3d, #000000);
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
}
.header h1{
  color: #fff;
  text-align: center;
  margin: 30px 0;
}
.text-input{
  outline: none;
  width: 260px;
  padding: 12px;
  margin-right: 25px;
  font-size: 20px;
  color: rgb(204, 204, 204);
  background-color: #000000;
  border: 1px solid #7d6d6f;
  border-radius: 10px;
}
.button-add{
  width: 70px;
  padding: 12px 12px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #7d6d6f;
  cursor: pointer;
}
.list-item{
  display: flex;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 7px;
  max-height: 30px;
}
.button-complete, 
.button-delete,
.button-edit{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 28px;
  border-radius: 50%;
}
.button-complete{
  color: #38f73e;
  margin-right: 10px;
}
.button-edit{
  color: #e2d029;
  margin-right: 10px;
}
.button-delete{
  color: rgb(252, 12, 56);
}
.complete{
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #f41111;
  opacity: 0.6;
}
.list{
  width: 220px;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 15px;
}
input:focus,
button:focus{
  outline: none;
}